* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
.password_header {
    display: block;
    font-size: 45px;
    text-align: center;

}
.form_input {
    padding: 100px;
}
.save {
    display: inline-block;
    margin: 50px;
    width: 100px;
    
}